.get__product{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#input__product{
    height: 30px;
    max-width: 400px;
    min-width: 300px;
}

#add{
    width: 60px;
    background-color: rgb(7, 163, 7);
    border: none;
    border-radius: 5px;
}
#add:hover{
    opacity: 0.7;
    cursor: pointer;
}

#add:active{
    opacity: 0.5;
}

input::placeholder{
    font-size: 18px;
    text-align: center;
}

input{
    font-size: 20px;
    background-color: rgb(230, 224, 224);
    border: 1px solid rgb(33, 15, 50);
    border-radius: 5px;
}