#product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.show__product{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#product__name{
    min-width: 260px;
    max-width: 300px;
    font-size: 20px;
}
#delete{
    font-size: 15px;
    padding: 6px;
    background-color: rgb(185, 13, 13);
    border: none;
    border-radius: 5px;
}
#delete:hover{
    opacity: 0.7;
    cursor: pointer;
}

#delete:active{
    opacity: 0.5;
}

.check:hover{
    cursor: pointer;
}
#deleteall{
    font-size: 15px;
    padding: 6px;
    background-color: rgb(185, 13, 13);
    border: none;
    border-radius: 5px;
    max-width: 500px;
}


